.dashboard {
  display: grid;
  grid-template-columns: repeat (1fr, auto);
  justify-content: center;
  gap: 2rem;
  min-height: 100vh;
  width: 100%;
  background-color: var(--Navy-950);
  border: 1px solid white;
}

.profile {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1rem;
  width: 335px;
  background-color: var(--Navy-900);
  border-radius: 16px;
}

.profile__header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  /* gap: 2rem; */
  padding: 2rem;
  background-color: var(--Purple-600);
  border-radius: 16px;
  /* border: 1px solid red; */
}

.profile__avatar {
  width: 70px;
  border: 3px solid var(--Navy-200);
  border-radius: 50%;
}

.profile__info {
  color: var(--Navy-200);
}

.profile__label {
  font: var(--text-sm);
  opacity: 0.5;
}

.profile__name {
  font: var(--text);
}

.profile__nav {
  padding: 1.5rem 1rem;
  /* border: 1px solid red; */
}

.profile__menu {
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
  /* align-items: space-between; */
  gap: 1rem;
  list-style: none;
  /* border: 1px solid red; */
}

.profile__menu-item {
  font: var(--text-sm);
  color: var(--Navy-200);
  border: none;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
}

.profile__menu-item--active {
  opacity: 1;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 2rem;
  width: 335px;
}

.card {
  /* padding: 2rem; */
  border-radius: 16px;
}

.card__work {
  background-color: var(--Orange-300);
  background-image: url(../images/icon-work.svg);
  background-repeat: no-repeat;
  background-position: top -10px right 20px;
}

.card__play {
  background-color: var(--Blue-300);
  background-image: url(../images/icon-play.svg);
  background-repeat: no-repeat;
  background-position: top -10px right 20px;
}

.card__study {
  background-color: var(--Pink-400);
  background-image: url(../images/icon-study.svg);
  background-repeat: no-repeat;
  background-position: top -10px right 20px;
}

.card__exercise {
  background-color: var(--Green-400);
  background-image: url(../images/icon-exercise.svg);
  background-repeat: no-repeat;
  background-position: top -10px right 20px;
}

.card__social {
  background-color: var(--Purple-600);
  background-image: url(../images/icon-social.svg);
  background-repeat: no-repeat;
  background-position: top -10px right 20px;
}

.card__self-care {
  background-color: var(--Yellow-300);
  background-image: url(../images/icon-self-care.svg);
  background-repeat: no-repeat;
  background-position: top -10px right 20px;
}

.card__content {
  /* display: flex; */
  /* gap: 2rem; */
  margin-top: 4rem;
  padding: 2.6rem;
  color: var(--Navy-200);
  background-color: var(--Navy-900);
  border-radius: 16px;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font: var(--text-title);
}

.card__menu {
  width: 21px;
  height: 10px;
  border: none;
  background-color: transparent;
  background-image: url(../images/icon-ellipsis.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.card__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
}

.card__hours {
  font: var(--text-lg);
}

.card__previous {
  font: var(--text-sm);
  opacity: 0.5;
}

/* .cards {
  grid-template-columns: repeat(3, 1fr);
} */